/target

# RustRover
.idea

# My shell scripts
shells/
tmp/

/crates/amice-llvm/target/
/crates/amice-llvm/.llvm-config-path
/crates/amice-llvm/.llvm-prefix-path

/crates/amice-macro/target

/crates/amice-plugin/target/
/crates/amice-plugin/.llvm-config-path
/crates/amice-plugin/.llvm-prefix-path

/crates/amice-plugin-macros/target/

/crates/amice-build-support/target/

# Test fixtures - external dependencies
crates/amice/tests/c/fixtures/issues/issue_61_cpp_fmt_strenc/fmt/

# Claude Code & OpenCode
CLAUDE.md
AGENTS.md
.claude/
/crates/amice/tests/rust/*/target/
